{% cache "youtube_cache" ~ id %}
    <h1>Youtube section</h1>
    <iframe type="text/html" width="640" height="360" src="http://www.youtube.com/embed/{{ videoId }}" frameborder="0"></iframe>
{% endcache %}